* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #926239;
  font-size: 17px;
  line-height: 1.6;
}

header {
  height: 100vh;
  /* height: 100%; */
  background-image: url("../imgs/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: local;
  background-color: white;
  padding: 0 20px;
  text-align: center;
}

.head {
  padding: 200px 0;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.head p {
  font-size: 20px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  border: 1px solid #926239;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 20px;
  margin: 20px 0 0;
}
.btn {
  color: inherit;
}
.btn:hover {
  color: white;
  background-color: #926239;
}

main {
  text-align: center;
}

main p {
  padding: 20px 30px;
}

.brown {
  color: white;
  background-color: #926239;
}

footer {
  font-size: 0;
  text-align: left;
}
.foot p {
  display: inline-block;
  width: calc(100% / 3);
  font-size: 17px;
  padding: 20px;
}
